<html>
    <head>
        <%- include("head.ejs"); %>
    </head>
    <body>
        <div class="container-fluide p-2"  id="app">
            <%- include("nav.ejs"); %>
            <div class="row">
                <div class="col-3">
                    <%- include("sale/sidebar.ejs"); %>
                </div>
                <div class="col-9">
                    <%- include("sale/main.ejs"); %>
                </div>
            </div>
        </div>
        <script src="/js/sale.js"></script>
    </body>
</html>