<div class="p-2 border border-danger">
    <div class="list-group">
        <item-sidebar title="Tổng quát" name="common" hash="common"></item-sidebar>
        <item-sidebar title="Khách hàng" name="customer" hash="customer"></item-sidebar>
        <item-sidebar title="Tiềm năng" name="lead" hash="lead"></item-sidebar>
        <item-sidebar title="Thêm" name="add" hash="add"></item-sidebar>
    </div>
</div>