<div class="p-2 border border-danger">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Tổng quát</a>
        <a href="#" class="list-group-item list-group-item-action">Khách hàng</a>
        <a href="#" class="list-group-item list-group-item-action">Tiềm năng</a>
        <a href="#" class="list-group-item list-group-item-action">Thêm</a>
    </div>
</div>